
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 4vh;
    padding: 2rem;
    color: rgb(25, 23, 23);
    text-align: center;
  }
  

  .carousel-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .carousel-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    max-width: 850px;
  }
  

  .carousel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .carousel-slides {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    margin-top: 4vh;
    overflow: hidden;
  }
  
  .carousel-item {
    min-width: 19%;
    margin: 0 10px;
    opacity: 0.6;
    transform: scale(0.9);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel-item.active {
    transform: scale(1.1);
    opacity: 1;
  }
  
  .carousel-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
  }
  
  .carousel-item.active .carousel-image {
    filter: grayscale(0);
  }
  
  .carousel-label {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  
  .carousel-item.active .carousel-label {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }
  
 
  .view-all-btn {
    margin-top: 2rem;
    background-color: #fba94a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .view-all-btn:hover {
    background-color: #fa8c00;
  }
  

  @media (max-width: 768px) {
    .carousel-item {
      min-width: 45%;
    }
  
    .carousel-title {
      font-size: 1.5rem;
    }
  
    .carousel-description {
      font-size: 0.9rem;
    }
  
    .view-all-btn {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .carousel-item {
      min-width: 90%;
    }
  
    .carousel-title {
      font-size: 1.2rem;
    }
  
    .carousel-description {
      font-size: 0.8rem;
    }
  
    .view-all-btn {
      font-size: 0.8rem;
    }
  }
  .features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .feature-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .feature-image {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
  }
  
  .hero-video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  